<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Bedford Museum</title>
	<meta name="description" content="Bedford Museum and Genealogical Library">
	<meta name="author" content="David Waite">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	<!-- main content -->
</head>
<body>
	<% if !alert.nil? && !alert.empty? %>
		<p class="alert"><%= alert %></p>
	<% end %>
	<% if !notice.nil? && !notice.empty? %>
		<p class="notice"><%= notice %></p>
	<% end %>

	<!-- navbar -->
	<nav class="navbar navbar-expand-lg fixed-top">
		<a class="navbar-brand" href="/">Bedford Museum and Genealogical Library</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<%= link_to "Staff Profiles", about_path, class: "dropdown-item nav-link"  %>
							<%= link_to "Directions", directions_path, class: "dropdown-item nav-link" %>
							<%= link_to "Donate", membership_path, class: "dropdown-item nav-link" %>
						</div>
					</li>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research Services</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						<%= link_to "Genealogical Research", research_path, class: "dropdown-item nav-link"  %>
						<%= link_to "Museum Database", research_path, class: "dropdown-item nav-link" %>
					</div>
				</li>


				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						<%= link_to "Museum News and Announcements", articles_path, class: "dropdown-item nav-link"  %>
						<%= link_to "Museum Database", research_path, class: "dropdown-item nav-link" %>
					</div>
				</li>
				<li class="nav-item">
					<%= link_to "Bookstore", books_path, class: "nav-link" %>
				</li>
				<% if current_user_is_admin? %>
				<li class="nav-item">
					<%= link_to "Museum Database", database_index_path, class: "nav-link" %>
				</li>
				<% end %>
			</ul>
			<ul class="navbar-nav ml-auto">
						<% if user_signed_in? && current_user.admin? %>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
									<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link dropdown-item"  %>
									<%= link_to "Invite User", new_user_invitation_path, class: "nav-link dropdown-item" %>
									<%= link_to "User Manager", users_path, class: "nav-link dropdown-item" %>
								</div>
							<% elsif user_signed_in?  %>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#"><%= link_to "Edit Account", edit_user_registration_path, class: "nav-link"  %></a>
									<a class="dropdown-item" href="#"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link"  %></a>
								</div>
							<% else %>
								<a href="#"><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></a>
							<% end %>

				</li>
			</ul>
		</div>
	</nav>

	<!-- End Navbar -->

	<%= image_tag "museum.jpg", class: "header-image" %>
	<div class="background-overlay">
		<div class='container main-content'>
			<%= yield %>
		</div>
	</div><footer class="footer bg-light">
		<div class="container">
			<div class="row container">
				<div class="col-md-3">
					<h6>Hours of Operation:</h6>
					<p>Monday - Friday 10AM to 5PM</br> Saturday 10AM to 5M </br>
						Closed Sundays, and National Holidays.</p>
				</div>

				<div class="col-md-3">
					<h6>Address:</h6>
					<p>Bedford Museum and Genealogy Library<br />201 East Main Street Bedford, VA 24523<br />Manager: Doug Cooper <br />Phone: (540) 586-4520</p>
				</div>

				<div class="col-md-3">
					<h6>Associations:</h6>
					<p> Virginia Association of Museums, American Association of Museums, American Association for State and Local History, Virginia Genealogical Society, American Alliance of Museums</p>
				</div>

				<div class="col-md-3">
					<h6>Bedford Informational sites:</h6>
					<p><a href="http://www.BedfordAreaChamber.com">Bedford Chamber of Commerce</a></p>
					<p><a href="http://www.visitBedford.com">Bedford Welcome Center</a></p>
				</div>

			</div>
		</div>
	</footer>

	<!-- Google Analytics -->
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-104297658-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
