<h1 class="section-header">Museum News and Articles</h1> 
    <% if user_signed_in? && current_user.admin? %>
            <%= link_to "Create new Article", new_article_path %>
        <% end %>
    <div class="center">
        <% @articles.each do |a| %>
            <h4><%= a.title %></h4>
            <% if user_signed_in? && current_user.admin? %>
                <p> <%= link_to "Edit Article", edit_article_path(a) %></p>
                <p> <%= link_to "Delete Article", a, method: :delete, data: { confirm: "Are you sure?" } %></p>
            <% end %>
            <p><%= a.body %></p>
        <% end %>
