<h1 class="section-header">Bookstore</h1>
    <div class="center">
        <% Category.all.each do |category| %>
            <button type="button" class="<%= 'active' if params[:category] == category.name %> btn btn-default">
                <%= link_to category.name, books_path(category: category.name) %>
            </button>
        <% end %>
    </div>
<div class="section-header">
    <div class="row">
        <% @books.each do |book| %>
            <div class="col-md-3">
                <div><%= link_to image_tag(book.image.url(:thumb), :alt => book.title, class:"book-image-small"), book_path(book.friendly_id) %></div>
                <div><h6><%= link_to book.title, book_path(book.friendly_id) %></h6>
                <p><%= book.author %></p></div>
            </div>
        <% end %>
    </div>
</div>
<p class="license">Question mark folder by Linseed Studio from the Noun Project</p>
