<h1 class="section-header">Bookstore</h1>
    <h5 class="center">If any of our books do not have a purchase link, please call the Museum at (540) 586-4520 and we will be happy to process your order over the phone.</h5>
    <p> <%= link_to "Create New Book", new_book_path %></p>
    <div class="section-header">
        <div class="row">
            <% @books.each do |book| %>
                <div class="col-md-3">
                    <div><%= link_to image_tag(src=book.image, :class => "book-image-small"), book_path(book) %></div>
                    <div><h6><%= link_to book.title, book_path(book) %></h6>
                    <p><%= book.author %></p></div>
                    <p> <%= link_to "edit book", edit_book_path(book) %></p>
                    <p> <%= link_to "delete book", book, method: :delete, data: { confirm: "Are you sure?" } %></p>
                </div>
            <% end %>
        </div>
    </div>
    