<h1 class="section-header">Museum Schedule</h1>
<h3 class="section-header">Monthly Genealogy Classes</h3>
<p class="section-header">
  Free Genealogy classes, presented by our on staff genealogist, on the first four Saturdays every month 10am-12pm.
</p>
<ul class="schedule-list">
  <li>First Saturday is "How to Get Started"</li>
  <li>Second Saturday is "How to Use Census Records"</li>
  <li>Third Saturday is "How to Find and Utilize Local Sources."</li>
  <li>The Fourth Saturday is "How to Utilize the Internet in Genealogical Research."</li>
</ul>
<p class="section-header">
  <i>There are also night classes available on alternating months. In February the classes will be on Saturday mornings. In March the classes will be on Tuesday nights 6pm-8pm.</i>
</p>

<h3 class="section-header">Forum Schedule</h3>
<% if current_user && current_user_is_admin? %>
  <h5 class="center">
    <%= link_to "Add Forum Schedule Entry", new_forum_path, class: "section-header" %>
  </h5>
<% end %>
<p>
  The Forum is an informal group that that meets every month on second Saturday (Except December and January) to discuss interesting historical topics. The public is invited and we meet on the third floor of the Museum (Elevator Provided) at 1:30PM and the meetings usually last about 90 minutes.
</p>
<ul>
  <% @forums.each do |f| %>
    <li>
      <strong><%= f.date %></strong><%= f.text %><%= link_to edit_forum_path(f) %>
    </li>
  <% end %>
</ul>
<h3 class="section-header">Parking Map</h3>
<%= image_tag(src="museumparking.png", :alt=> "parking map") %>

